body {font-family: 'Oswald', sans-serif;}

#logout { float: right; }

#texto-footer {text-align:center;}
#lista-tareas { list-style: none;}
#lista-tareas li{padding: 3px 0 3px 0px; font-size: 17px;}
#lista-tareas li input{margin: 0 5px 0 0;}

.parsley-errors-list{ position: absolute; }

.btn-circulo {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.42;
  border-radius: 15px;
}

